{% extends "base.html" %}
{% load staticfiles %}

{% block extra_scripts %}
<script src="{% static 'js/vue.js' %}"></script>
<script src="{% static 'js/router.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
{% endblock %}

{% block container %}
<div class="row">
  <div class="col-md-12" id="content-wrapper">
    <template id="detail-view" v-if="view=='detail'">
      <div class="panel panel-default">
        <div class="panel-body">
          <a href="/articles/" v-on:click.prevent="return_to_list"><span class="glyphicon glyphicon-menu-left"></span>Return to Article List</a>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Article Detail for [@{ slug }]</h3>
        </div>
        <div class="panel-body">
          <pre>@{json | json 4 }</pre>
        </div>
      </div>
    </template>
    <template id="list-view" v-if="view=='list'">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="search-form form-group">
            <div class="col-md-10">
              <input v-on:keyup.enter="on_search" "type="text" class="form-control" id="search-inp" placeholder="Search Article" v-model="search_key">
            </div>
            <div class="col-md-2">
              <button class="btn btn-info" v-on:click.prevent="on_search">Search</button>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Article List</h3>
        </div>
        <div class="panel-body">
          <template v-if="!!items.length">
            <ol>
              <li v-for="item in items">
                <a class="pull-right" href="/article/@{item.slug}/" v-on:click.prevent="on_detail(item.slug)">View Details</a>
                <pre style="overflow:initial;">@{ item | json 4 }</pre>
              </li>
            </ol>
          </template>
          <template v-else>
            Found no articles.
          </template>
        </div>
      </div>
    </template>
    <template id="default-view" v-if="!(view=='list' || view=='detail')">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Initializing...</h3>
        </div>
        <div class="panel-body">
          Please wait while we load your view.
        </div>
      </div>
    </template>
  </div>
</div>
{% endblock container %}
