{% extends "base.html" %}
{% load staticfiles %}

{% block extra_scripts %}
<script src="{% static 'js/vue.js' %}"></script>
<script src="{% static 'js/router.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
{% endblock %}

{% block container %}
<div class="row">
  <div class="col-md-12" id="content-wrapper">
    <template id="detail-view" v-if="view=='detail'">
      <div class="panel panel-default">
        <div class="panel-body">
          <a href="/articles/" v-on:click.prevent="return_to_list"><span class="glyphicon glyphicon-menu-left"></span>Return to Article List</a>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Article Detail for [@{ slug }]</h3>
        </div>
        <div class="panel-body">
          JSON here
        </div>
      </div>
    </template>
    <template id="list-view" v-if="view=='list'">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Article List</h3>
        </div>
        <div class="panel-body">
          Please wait while we load your view.
        </div>
      </div>
    </template>
    <template id="default-view" v-if="!(view=='list' || view=='detail')">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Initializing...</h3>
        </div>
        <div class="panel-body">
          Please wait while we load your view.
        </div>
      </div>
    </template>
  </div>
</div>
{% endblock container %}
