body {
    padding-top: 70px;
}

footer {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #99979c;
    background-color: #2a2730;
}

#sidebar-wrapper .button-group a {
    width: 48%;
    display: inline-block;
    text-align: center;
    padding: 10px;
}

#sidebar-wrapper hr {
    margin: 0px;
}

#sidebar-wrapper .nav a {
    display: block;
    width: 30%;
    margin: 40px 30%;
    text-align: center;
}

#content-wrapper {
    padding: 10px;
}

#content-wrapper .blog-body {
    padding: 30px 0px;
    text-align: justify;
}

#content-wrapper .blog-img {
    float: right;
    margin: 0px 0px 10px 15px;
}